.arrows {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 7px 0;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    font-size: 17px;
    transition: .5s;
    font-wight: 100px;
}
